WMS_TAG=20260716-1509
DEFAULT_CONNECTION=Data Source=vm-bi-sql.dobroga.local;Initial Catalog=Myrmex_dev;Persist Security Info=True;User ID=sa;Password=<XXXXXX>;Encrypt=False;TrustServerCertificate=True
ADMINISTRATOR_EMAIL=<XXXXXX>
ADMINISTRATOR_PASSWORD=<XXXXXX>
ADMINISTRATOR_DISPLAYNAME=<XXXXXX>
ONEC_USERNAME=<XXXXXX>
ONEC_PASSWORD=<XXXXXX>
