WMS_TAG=2026-09-03_10-09
WMS_ENVIRONMENT=test
WEBAPI_PORT=8306
WEBAPP_PORT=8307
DEFAULT_CONNECTION=Data Source=<XXX>;Initial Catalog=<XXX>;Persist Security Info=True;User ID=sa;Password=<XXX>;Encrypt=False;TrustServerCertificate=True
ADMINISTRATOR_EMAIL=<XXX>
ADMINISTRATOR_PASSWORD=<XXX>
ADMINISTRATOR_DISPLAYNAME=Administrator
ONEC_BASEADDRESS=<XXX>
ONEC_USERNAME=<XXX>
ONEC_PASSWORD=<XXX>
